
.info{
  font-size: 50px;
}
.info2{
  text-align: justify;
  font-size: 20px;
}
.aboutcontainer {
   
    width: 100%; /* Ensure the container takes full width */
    margin: 0 auto; /* Center the container */
    padding-top: 4%;
    padding-bottom: 4%;
    background-color: #f5f5f5;
  }
  .content{
    padding: 10%;
    justify-content: center;
    align-items: center; 
    display: flex;

  }
 
  .rounded-image {
    border-radius: 20px;
    width: 300px; /* Adjust the width as needed */
    height: auto; /* Maintain aspect ratio */
  }
  .clearfix::after {
    content: "";
    display: table;
    clear: both;
  }

  @media (max-width: 768px) {
    .content {
      flex-direction: column; /* Stack left and right sections above and below each other on mobile */
    }
  
    .right, .left {
      width: 100%; /* Make both sections take up the full width on mobile */
    }
  }