.navbar {
  display: flex;
  justify-content: space-between;
  align-items: center;
  background-color: white; /* Set your desired background color */
  padding: 10px 20px;
  position: sticky;
  top: 0;
  background-color: #f5f5f5;
  z-index: 999999999999999;
  max-width: 100%;
}

.logo img {
  height: 40px; /* Adjust the height of your logo as needed */
}

.menu ul {
  pointer-events: auto;
  list-style: none;
  display: flex;
}

.menu li {
  font-size: 20px;
  margin-right: 20px; /* Adjust the spacing between menu items */
}

.menu li:hover {
  cursor: pointer;
}
.menu a {
  text-decoration: none;
  color: #C21E56; /* Set the menu item text color */
  font-weight: bold;
}

.menu a:hover {
  
  color: black;
  text-decoration: none; /* Add underline on hover (optional) */
}

.menu li:hover {
  color: black;
  text-decoration: none; /* Adjust the spacing between menu items */
}

@media (max-width: 768px) {
  ..menu li {
   font-size: 10px;
  }
  .navbar{
    white-space: nowrap;
    box-sizing: border-box;
    max-width: 100%!important;
    overflow: hidden;
  }
}
