/* SimpleChatbot.css */
.chatbot-container {
    position: relative;
    bottom: 20px;
  }
  .react-chatbot-kit-chat-container{
    height: 100%;
    margin: 0;
    width: 100%;
  }
  .react-chatbot-kit-chat-message-container{
    width: 100%;
    background-image: url('AI.jpg'); /* Replace 'AI.jpg' with your image file */
    background-size: cover ;
    background-position: center;
  }