
/*for my modal new one
.MuiButtonBase-root.css-nua0ax-MuiButtonBase-root{
    margin: auto;
}
.MuiBox-root.css-uwckmx{
    padding: 1%;
}
.MuiBox-root.css-j84wkx{
    margin-top: 3%;
}

/*End for modal new*/
