.Services {
    margin-top: 4%;
    padding-bottom: 4%;
  }
  .mbox-container {
    display: flex;
    flex-direction: row; /* Arrange items horizontally */
    justify-content: center; /* Center items horizontally */
    align-items: center; /* Center items vertically */
  }
  
  .mbox {
    width: 5%;
    background-color: #f5f5f5;
    height: 10%;
    cursor: pointer;
    margin: 2%;
    padding: 4%;
    position: relative; /* Add position:relative for .Arrow */
  }

  /* This is for screens 768px and below (typical for mobile devices) */
@media (max-width: 768px) {
  .mbox-container {
    width: 100%;
    display: flex;
    flex-direction: column; /* Stack elements vertically */
    align-items: center; /* Center items horizontally in the container */
  }
 /* Define a max-width for images within modals */
  
  .mbox {
    width: 35%;
    margin-bottom: 10px; /* Optional: Add spacing between stacked items */
  }
  .MuiBox-root.css-6dn950{
    width: 80%;
  }
}

  
  
  
  