
@import url("https://fonts.googleapis.com/css?family=Raleway:900&display=swap");

@media (max-width: 768px) {
/* In your CSS file */
.hide-on-mobile {
  display: none;
}
.MuiButtonBase-root.MuiButton-root.MuiButton-outlined.MuiButton-outlinedPrimary.MuiButton-sizeLarge.MuiButton-outlinedSizeLarge.MuiButton-root.MuiButton-outlined.MuiButton-outlinedPrimary.MuiButton-sizeLarge.MuiButton-outlinedSizeLarge.custom-button.css-9y1egq-MuiButtonBase-root-MuiButton-root{
  margin-top: 15%; 
}
}


#container {
  position: relative;
  margin: none;
  width: 100vw;
	height: 100px;
  top: 0;
  bottom: 0;

  filter: url(#threshold) blur(0.6px);
  padding-bottom: 20%;
}

#text1,
#text2 {
  position: absolute;
  width: 100%;
  display: inline-block;
  left: 0; /* Adjust the left position */
  top: 10%;
  font-family: "Raleway", sans-serif;
  font-size: 80pt;
	margin: none!important;
  text-align: center;

  user-select: none;
}

